.root {
  position: relative;
  border: none !important;
}

.wrapper {
  border: none !important;
}

.input {
  height: 50px;
  padding-top: 18px;

  &::placeholder {
    font-size: 12px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    background: transparent !important;
  }
}

.innerInput {
  // border: none !important;
  // outline: none !important;
  // padding-top: 18px;
  // height: 100%;

  &::placeholder {
    font-size: 12px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    background: transparent !important;
  }
}

.label {
  position: absolute;
  pointer-events: none;
  font-size: 12px;
  padding-left: var(--mantine-spacing-sm);
  padding-top: calc(var(--mantine-spacing-sm) / 2);
  z-index: 1;
  color: var(--prune-text-gray-400);
}
