.main {
  padding-left: 278px;
  padding-right: 40px;
  background-color: #f6f6f6;
}

.user__main {
  padding-left: 278px;
  padding-right: 40px;
  background-color: #fff;
}

.navbar {
  background-color: #1d2939;
}

.user__header {
  border-bottom: 1px solid #f2f2f2;
}
