.root {
  position: relative;
  background-color: #f2f4f7;
  width: fit-content;
  border-radius: 8;
  padding: 5px 0px;

  // border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.control {
  padding: 7px 8px;
  margin: 0 4px;
  text-align: center;
  line-height: 1;
  color: black;
  border-radius: 8px;
  font-size: 10;
  transition: color 100ms ease;
  font-weight: 500;

  @mixin hover {
    color: #c1dd06;
    background-color: #f2f4f7;
  }

  &[data-active] {
    color: black;
  }
}

.controlLabel {
  position: relative;
  z-index: 1;
  font-size: 10;
}

.indicator {
  background-color: #c1dd06;
  border-radius: 4px;
}
