.main {
  .table__container {
    margin-top: 24px;
    padding: 20px;
    background-color: #fff;

    .container__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--prune-text-gray-800);
    }

    .tabs {
      .tabs__list {
        .tab {
          font-size: 12px;
          color: var(--prune-text-gray-500);
          background: none;
        }

        [data-active="true"] {
          color: var(--prune-primary-600);
          border-bottom: 1px solid var(--prune-primary-600);
          border-radius: 0;
          font-weight: 600;
        }
      }

      .business__tab,
      .document__tab {
        margin-top: 30px;

        .edit {
          background-color: #f9f9f9;
          font-size: 10px;
          color: var(--prune-text-gray-600);
        }

        .top__container {
          padding: 15px;
          border-radius: 8px;
          border: 1px solid var(--prune-text-gray-200);

          &:first-of-type {
            margin-bottom: 15px;
          }

          .grid__container {
            .grid {
              .label {
                font-size: 12px;
                font-weight: 400;
                color: var(--prune-text-gray-600);
                margin-bottom: 10px;
              }

              .input__root {
                [data-position="right"] {
                  width: 120px;
                }
              }

              .input__root1 {
                [data-position="right"] {
                  width: 80px;
                }
              }

              .input {
                border: none;
                border-radius: 4px;
                background-color: #fbfbfb;
                height: 44px;

                &::placeholder {
                  font-size: 13px;
                  color: var(--prune-text-gray-600);
                }
              }

              [data-position="right"] {
                width: 70px;
              }

              // .section {
              //   width: 50px;
              //   border: 1px solid red;
              // }

              .input__right__section {
                background-color: #eaecf0;
                padding: 4px;
                border-radius: 12px;
                width: 46px;
                display: flex;
                justify-content: center;
              }
            }
          }
        }

        .bottom__container {
          margin-top: 20px;
          padding: 15px;
          border-radius: 8px;
          border: 1px solid var(--prune-text-gray-200);

          .grid__container {
            .grid {
              .label {
                font-size: 12px;
                font-weight: 400;
                color: var(--prune-text-gray-600);
                margin-bottom: 10px;
              }

              .input {
                border: none;
                border-radius: 4px;
                background-color: #fbfbfb;
                height: 44px;

                &::placeholder {
                  font-size: 13px;
                  color: var(--prune-text-gray-600);
                }
              }

              [data-position="right"] {
                width: 70px;
              }

              // .section {
              //   width: 50px;
              //   border: 1px solid red;
              // }

              .input__right__section {
                background-color: #eaecf0;
                padding: 4px;
                border-radius: 12px;
                width: 46px;
                display: flex;
                justify-content: center;
              }
            }
          }
        }

        .add__new__container {
          display: flex;
          align-items: center;
          border-radius: 100px;
          padding: 7px;
          background-color: var(--prune-primary-500);
        }

        .api__container {
          .api__calls {
            width: 168px;
            border: 1px solid var(--prune-text-gray-200);
            padding: 18px;
            border-radius: 8px;
          }

          .api__key {
            padding: 15px 24px;
            border-radius: 8px;
            border: 1px solid var(--prune-text-gray-200);

            .label {
              font-size: 12px;
              font-weight: 400;
              color: var(--prune-text-gray-600);
              margin-bottom: 10px;
            }

            .input__root {
              [data-position="right"] {
                width: 120px;
              }
            }

            .root {
              max-width: 500px;
            }

            .input {
              border: none;
              border-radius: 4px;
              background-color: #fbfbfb;
              height: 44px;

              &::placeholder {
                font-size: 13px;
                color: var(--prune-text-gray-600);
              }
            }

            [data-position="right"] {
              width: 120px;
            }

            .input__right__section {
              background-color: #eaecf0;
              padding: 4px;
              border-radius: 12px;
              width: 46px;
              display: flex;
              justify-content: center;
            }
          }
        }

        .cta {
          width: 160px;
          padding: 0 18px;
          font-size: 12px;
          color: var(--prune-text-gray-700);
          border-radius: 20px;
        }
      }

      .accounts___container {
        margin-top: 20px;
        overflow-y: scroll;

        .table__td__container {
          height: 100%;
          display: flex;
          align-items: center;

          .table__td__status {
            width: fit-content;
            border-radius: 20px;
            padding: 5px 15px;
            display: flex;
            align-items: center;
            gap: 5px;
            background-color: var(--prune-success-50);
          }
        }
      }
    }

    .input {
      height: 45px;
      border: 1px solid #eaecf0;
      border-radius: 8px;
      font-size: 14px;

      &::placeholder {
        font-size: 12px;
      }
    }

    .cta {
      width: 160px;
      padding: 0 18px;
      font-size: 12px;
      color: var(--prune-text-gray-700);
      border-radius: 20px;
    }

    .container__search__filter {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search {
        width: 270px;
      }

      [data-position="left"] {
        padding-left: 16px;
        margin-right: 10px;
      }

      .input__search {
        background: #f6f6f6;
        border: none;
        border-radius: 20px;
        padding-left: 40px;

        &::placeholder {
          font-size: 14px;
          color: var(--prune-text-gray-700);
        }
      }

      .filter__cta {
        color: var(--prune-text-gray-700);
        border-radius: 20px;
        background-color: #f6f6f6;
      }
    }

    .table {
      overflow-x: scroll;
      margin-top: 30px;

      .table__th {
        font-size: 10px;
        font-weight: 600;
        color: var(--prune-text-gray-600);
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }

      .table__td {
        font-size: 12px;
        font-weight: 500;
        color: var(--prune-text-gray-800);

        &:nth-child(3) {
          color: var(--prune-text-gray-500);
        }

        .table__td__status {
          width: fit-content;
          border-radius: 20px;
          padding: 3px 15px;
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: var(--prune-success-50);
        }
      }
    }

    .pagination__container {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--prune-text-gray-700);
    }

    .pagination {
      height: 28;
      & > div {
        gap: 0;
      }

      .control {
        border-radius: 0;
        border: 1px solid var(--prune-text-gray-200);
        color: var(--prune-text-gray-400);
        border-right: none;

        &:last-child {
          border-right: 1px solid var(--prune-text-gray-200);
        }
      }

      [data-active="true"] {
        /* Your CSS styles here */
        color: var(--prune-primary-600);
      }
    }

    .login__cta {
      padding: 0 18px;
      font-size: 12px;
      color: var(--prune-text-gray-700);
      border-radius: 20px;
    }
  }
}
