.main {
  .main__header {
    .main__header__text {
      color: var(--prune-text-gray-700);
      font-weight: 600;
    }
    .main__header__subtext {
      color: var(--prune-text-gray-500);
    }
    .main__cta {
      color: var(--prune-text-gray-800);
    }
  }

  .overview__container {
    margin-top: 24px;
    border: 1px solid #f5f5f5;

    .container__header {
      padding: 24px;
      border-bottom: 1px solid #f5f5f5;
    }

    .container__body {
      padding: 24px;

      & > div:first-child {
        border-right: 1px solid #f5f5f5;
      }

      .body__text__header {
        color: var(--prune-text-gray-500);
        font-size: 14px;
      }

      .body__text {
        color: var(--prune-text-gray-800);
      }

      .debit__btn {
        height: fit-content;
        padding: 0;
        color: var(--prune-text-gray-800);
        padding: 5px 10px;
        color: #758604;
      }
    }
  }

  .grid__cards {
    margin-top: 5px;

    .grid__cards__two {
      margin-bottom: 16px;
      .api__keys__container {
        height: 100%;
        padding: 15px;
        border: 1px solid #f5f5f5;

        .key__container {
          height: 40px;
          margin: 0;

          .key__container__text {
            font-size: 12px;
            color: var(--prune-text-gray-500);
          }
        }
      }

      @media (max-width: 1200px) {
        .grid__cards__charts {
          order: 2;
        }
        .grid__cards__side {
          order: 1;
        }
      }
    }

    .chart__container {
      background-color: #fff;
      padding: 15px;
      height: 350px;
      border: 1px solid #f5f5f5;

      .container__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        .text {
          letter-spacing: 0.5px;
          color: var(--prune-text-gray-600);
        }

        .select__input {
          font-size: 10px;
          height: 24px;
          background-color: #f4f4f4;
          border: none;
          color: var(--prune-text-gray-700);
        }
      }
    }

    .payout__table {
      height: 100%;
      padding: 15px;
      overflow-x: hidden;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      border: 1px solid #f5f5f5;

      .table__text {
        color: var(--prune-text-gray-600);
      }

      .table__container {
        flex: 1;

        .table {
          overflow-x: scroll;
          margin-top: 10px;

          .table__th {
            font-size: 12px;
            font-weight: 400;
            color: var(--prune-text-gray-400);
          }

          .table__td {
            font-size: 12px;
            font-weight: 500;
            color: var(--prune-text-gray-600);

            // &:nth-child(3) {
            //   position: relative;
            //   border-right: 1px dashed var(--prune-text-gray-300);

            //   .table__td__icon {
            //     position: absolute;
            //     left: -10px;
            //   }
            // }

            .table__td__status {
              width: fit-content;
              border-radius: 20px;
              padding: 5px 15px;
              display: flex;
              align-items: center;
              gap: 5px;
              background-color: var(--prune-success-50);
            }
          }
        }
      }

      .table__cta {
        height: fit-content;
        padding: 0;
        align-self: flex-start;
      }
    }
  }

  .select__input {
    font-size: 10px;
    height: 24px;
    background-color: #f4f4f4;
    border: none;
    color: var(--prune-text-gray-700);
  }
}
