.root {
  position: relative;
  padding: var(--mantine-spacing-md);
  transition: border-color 150ms ease, border-width 150ms ease;

  &[data-checked] {
    border-color: var(--prune-primary-700);
    border-width: 2px;
  }

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.label {
  color: var(--prune-text-gray-700);
  font-size: var(--typography-font-size-md, 16px);
  font-style: normal;
  font-weight: var(--typography-font-weight-semibold, 600);
  line-height: 100%; /* 16px */
  letter-spacing: var(--typography-letter-spacing-none, 0px);
}

.description {
  color: var(--prune-text-gray-500);
  font-size: var(--typography-font-size-sm, 14px);
  font-style: normal;
  font-weight: var(--typography-font-weight-regular, 400);
  line-height: 150%; /* 21px */
  letter-spacing: var(--typography-letter-spacing-none, 0px);
}
