.root {
  position: relative;
}

.input {
  height: 54px;
  padding-top: 25px;
  background-color: #fcfcfd;
  border: 1px solid #f2f4f7;
}

.label {
  font-weight: 400;
  position: absolute;
  pointer-events: none;
  font-size: var(--mantine-font-size-xs);
  padding-left: var(--mantine-spacing-sm);
  padding-top: calc(var(--mantine-spacing-sm) / 2);
  z-index: 1;
}
