.main {
  .table__container {
    margin-top: 24px;
    padding: 20px;
    background-color: #fff;

    .container__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--prune-text-gray-800);
    }

    .container__search__filter {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search {
        width: 270px;
      }

      [data-position="left"] {
        padding-left: 16px;
        margin-right: 10px;
      }

      .input__search {
        background: #f6f6f6;
        border: none;
        border-radius: 20px;
        padding-left: 40px;

        &::placeholder {
          font-size: 14px;
          color: var(--prune-text-gray-700);
        }
      }

      .filter__cta {
        color: var(--prune-text-gray-700);
        border-radius: 20px;
        background-color: #f6f6f6;
      }
    }

    .table {
      overflow-x: scroll;
      margin-top: 30px;

      .table__th {
        font-size: 10px;
        font-weight: 600;
        color: var(--prune-text-gray-600);
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }

      .table__td {
        font-size: 12px;
        font-weight: 500;
        color: var(--prune-text-gray-800);

        &:nth-child(3) {
          color: var(--prune-text-gray-500);
        }

        .table__td__status {
          width: fit-content;
          border-radius: 20px;
          padding: 3px 15px;
          display: flex;
          align-items: center;
          gap: 5px;
          background-color: var(--prune-success-50);
        }
      }
    }

    .pagination__container {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--prune-text-gray-700);
    }

    .pagination {
      height: 28;
      & > div {
        gap: 0;
      }

      .control {
        border-radius: 0;
        border: 1px solid var(--prune-text-gray-200);
        color: var(--prune-text-gray-400);
        border-right: none;

        &:last-child {
          border-right: 1px solid var(--prune-text-gray-200);
        }
      }

      [data-active="true"] {
        /* Your CSS styles here */
        color: var(--prune-primary-600);
      }
    }

    .login__cta {
      padding: 0 18px;
      font-size: 12px;
      color: var(--prune-text-gray-700);
      border-radius: 20px;
    }
  }
}
