.primary__btn {
  border-radius: 9999px !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;

  @media (min-width: 88em) {
    font-size: 16px;
  }
}

.secondary__btn {
  border-radius: 9999px !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  transition: all 0.3s;

  @media (min-width: 88em) {
    font-size: 16px;
  }

  &:hover {
    border: 1px solid var(--prune-primary-700);
    background-color: var(--prune-primary-50) !important;
  }
}
