.main {
  .form__container {
    padding: 20px;
    margin-top: 24px;

    .form__container__hdrText {
      font-size: 18;
      font-weight: 600;
      color: var(--prune-text-gray-800);
    }

    .label {
      font-size: 12px;
      margin-bottom: 7px;
    }

    .input {
      height: 45px;
      border: 1px solid #eaecf0;
      border-radius: 8px;
      font-size: 14px;

      &::placeholder {
        font-size: 12px;
      }
    }

    .cta {
      width: 160px;
      padding: 0 18px;
      font-size: 12px;
      color: var(--prune-text-gray-700);
      border-radius: 20px;
    }

    .add__new__container {
      display: flex;
      align-items: center;
      border-radius: 100px;
      padding: 7px;
      background-color: var(--prune-primary-500);
    }
  }
}

.separator {
  display: none;
}

.steps {
  gap: 48px;
  margin-bottom: 36px;
}

.stepBody {
  margin-left: 12px;
}

.stepIcon {
  width: 28px;
  height: 28px;
}

.stepLabel {
  font-size: 14px;
  font-weight: 400;
  color: var(--prune-text-gray-500);
}

.stepIcon:not([data-completed]):not([data-progress]) {
  border: 1px solid var(--prune-text-gray-500);
  background-color: transparent;
}

.input {
  &:focus {
    border: 1px solid var(--prune-primary-700);
  }
}
